@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
main{
    max-width: 1100px;
    margin: 0px auto;
}
.display-flex{
    display: flex;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.headers-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-explore-more{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 700px;
    border: none;
}


/* full header section */

/* nav section */
.brand{
    font-size: 2.5rem;
    font-weight: 700;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar-links{
    
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-left: 50px;
    /* margin-right: ; */
    font-size: 1rem;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1100px;
    margin: 0 auto;
}
/* banner related style */
.banner-description{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-img{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-details{
    font-size: 1rem;
}
/* team */
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-features{
    margin: 130px 0px;
    align-items: center;
}
.team-feature-description{
    margin-left: 73px;
}
.team-details{
    font-size: 1rem;
}
#quick-list{
    font-weight: 400;
}
.team-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.feature{
    color: #FF900E;
}

/* facts style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.facts{
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 240px;
    width: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.facts-number{
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}
.facts-name{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 10px;
}
.facts-details{
    max-width: 540px;
}

/* sponsor style */
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-info{
    text-align: center;
    max-width: 540px;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
.sponsor-companies{
    filter: grayscale(100%);
}

/* feature love section */
.feature-love{
    display: flex;
    margin-top: 130px;
}
.feature-card-title{
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-container{
    margin-right: 100px;
}
.feature-card{
    background-color: white;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}
#year{
    font-size: 3.5rem;
    font-weight: 700;
}
#btn-for-feature-love{
font-size: 1.25rem;
font-weight: 500;
margin-left: -50px;
margin-top: -80px;
}
.feature-image img{
    width: 100%;
}


/* responsive for mobile device */
@media screen and (max-width:576px) {
    /* header */
    .navbar, .navbar-links, .feature-love{
        flex-direction: column;
    }
    .banner-img{
        width: 100%;
    }
    /* team */
    .team-features{
        flex-direction: column;
    }
    .team-feature-description{
        margin-left: 20px;
    }
    .team-image, .facts-container, .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    /* facts */
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    /* sponsor */
    .sponsor-companies{
        gap: 40px;
        justify-items: center;
    }
    /* feature */
    .feature-container{
        margin-right: 0px;
    }
    #btn-for-feature-love {
        margin-top: 0px;
        margin-left: 0px;
    }
}



/* responsive for tablet */
@media screen and (min-width:577px) and (max-width:992px) {
    .navbar, .navbar-links, .feature-love{
        flex-direction: column;
    }
    .team-features{
        flex-direction: column;
    }
    .facts-container, .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .feature-container{
        margin-right: 0px;
    }
    #btn-for-feature-love {
        margin-top: 0px;
        margin-left: 0px;
    }

}